{% extends "layout.html" %} {% load static %} {% block body %}
<h1>Pagina de prueba trabajos en red</h1>
<p style="text-align: justify;">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo necessitatibus adipisci libero aliquam ex placeat doloribus, odit magni odio maxime ducimus quos! Optio, numquam eligendi. Reiciendis doloribus dignissimos totam enim?
</p>
<p style="text-align:center">
    <img src="/ISLI/robotica/static/assets/img/fondo.png" class="img-fluid" alt="html js css">
</p>
{%endblock%}