{% extends "layout.html" %} {% load static %} {% load crispy_forms_tags %} {% block body %} {% if form.errors %}
<div class="alert alert-danger" role="alert">
    Ocurri&oacute; un error con el formulario.
</div>
{% endif %}
<h3>Encuesta Alumnos</h3>
<div class="container-lg">
    <form method="POST">
        {% csrf_token %}
        <div class="row rform justify-content-center">
            <div class="col-12 col-md-6 align-self-center">
                {{ form.apellido|as_crispy_field }}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {{ form.nombre|as_crispy_field}}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {{ form.curso|as_crispy_field }}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {{ form.burbuja|as_crispy_field }}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {{ form.dispositivo|as_crispy_field }}
            </div>
            <div class="col-12 col-md-12 align-self-center">
                {{ form.bio|as_crispy_field }}
            </div>
            <div class="col-12 col-md-12 align-self-center">
                {{ form.herramientas|as_crispy_field }}
            </div>
        </div>
        <div class="span" style="padding: 10px; text-align: center;">
            <button type="submit" class="btn btn-outline-dark">Enviar Encuesta</button>
        </div>
    </form>
</div>
{% endblock %}